#modal_alta>div{
    max-width: 500px;
}


.btn {
  border-radius: 40px;
}
/*Fotos*/
#modal_fotos>div{
    max-width: 500px;
}
#contenedor_fotos{
    height: 330px;
    border: solid 1px rgb(125, 139, 143);
    border-radius: 10px;
}

.contenedor_foto{
    border: solid 2px rgb(150, 188, 231);
    border-radius: 5px;
    display:inline-flex;
    margin: 10px 0px 10px 10px; 
    width: 200px;
    justify-content: center;
    align-content: center;
    align-items: center;
    float: left;
}
.contenedor_foto>i{
    position: relative;
    margin-top: 100px;
    padding: 5px;
    font-size: 18px;
    color: red
}
#modal_codigos>div{
    max-width: 400px;
}
#contenedor_codigos{
    height: 280px;
    border: solid 1px rgb(22, 113, 138);
    border-radius: 10px;
    overflow:auto;
    margin-top:30px
}